@font-face {
    font-family: 'GenshinImpact';
    src: url('../fonts/genshin.ttf') format('truetype');
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

html{
    transition: all ;
}

body{
    font-family: "GenshinImpact";
    background-color: #16161d;
}


.contenedor{
    margin-top: 110px;
}

.div-inicio{
    height: 33px;
    width: 33px;
}

nav{
    justify-content: center;
    align-items: center;
    background-color: #16161d;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100; 
}

.busca-nav{
    top: 0;
    height: 50px;
    width: 100%;
    padding: 5px;
}

.img-nav{
    cursor: pointer;
    height: 30px;
    width: 30px;
}

.input-nav{
    font-family: "GenshinImpact";
    height: 30px;
    width: 600px;
    border: 1px solid white;
    border-radius: 10px 0 0 10px;
    font-size: 15px;
    padding: 10px;
    outline: none;
}

.nav-search{
    display: flex;
    flex-direction: row;
    margin-top: 7px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Name-nav{
    color: white;
}

.nav-all{
    margin-left: 7%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid white;
    border-radius: 15px;
}

.contenedor-nav{
    padding: 30px 5%;
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: space-between;
}

.contenedor-nav > a{
    text-decoration: none;
    color: white;
    border-radius: 15px;
    padding: 7px 15px;
}


.contenedor-nav > a:hover{
    transition:all ease-in-out .3s;
    background-color: #3f3f42;
}

.Inicio{
    display: flex;
    flex-direction: column;
    width: 100%;
    background: rgb(59,59,140);
    background: linear-gradient(90deg, rgba(59,59,140,1) 0%, rgba(0,213,255,1) 100%);
    padding: 5%;
    max-width: 100%;
    justify-content: center;
}

.contenedor-Divsropa{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 350px;
    padding: 15px;
    background-color: #3f3f42;
    border: 1px solid white;
    border-radius: 5px;
    top: 0;
    margin-top: 50px;
    gap: 5px;
    justify-content: space-around;
}



.contenedor-Divsropa > a{
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: left;
    padding: 10px;
    justify-content: center;
    text-align: left;
    background-color: #16161d;
    margin: 5px;
    border: 2px solid white;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    height: 300px;
}

.contenedor-compra{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70vh;
    background-color: #16161d;
    border: 2px solid white;
    border-radius: 15px;
    top: 0;
    margin-top: 50px;
    gap: 5px;
    justify-content: left;
    padding: 5%;
    align-items: center;
    color: white;
}

.organizador-compra{
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    justify-content: space-around;
}

#imagen-producto{
    border-radius: 10px;
}

.texto-compra{
    gap: 10px;
    display: flex;
    flex-direction: column;
    width: 30%;
}

.button-compra{
    margin-top: 20%;
    height: 30px;
    font-family: "GenshinImpact";
    cursor: pointer;
}



.texto-compra p{
    font-size: 15px;
}

.texto-compra h1{
    font-size: 40px;
}

.contenedor-ropa{
    text-decoration: none;
}

.contenedor-ropa > img{
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.presentacion{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.text-presentacion{
    font-size: 35px;
    text-transform: uppercase;
}

.presentacion i{
    font-size: 35px;
}

.Descripcion{
    width: 100%;
    height: 165px;
    background: rgb(99,38,201);
    background: linear-gradient(90deg, rgba(99,38,201,1) 15%, rgba(13,13,207,1) 85%);
    padding: 5%;
    max-width: 100%;
}

#Inicio {
    padding-top: 110px;
    margin-top: -110px;
}


.Redes{
    width: 100%;
    height: 165px;
    background: rgb(99,38,201);
    background: linear-gradient(90deg, rgba(99,38,201,1) 15%, rgba(13,13,207,1) 85%);
    padding: 5%;
    max-width: 100%;
}

.div-inicio{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    width: 100%;
    gap: 2%;
}



p{
    font-size: 13px;
}

.inicio-divs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 3px solid #16161d;
    border-radius: 15px;
    padding: 2%;
    width: 120px;
    height: 100px;
    text-align: center;
    gap: 2px;
}

.Red-enlaces{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 3px solid #16161d;
    border-radius: 15px;
    padding: 2%;
    width: 120px;
    height: 100px;
    text-align: center;
    gap: 2px;
    cursor: pointer;
}

.Red-enlaces:hover{
    color: white;
    background: #16161d;
    transition: all ease-in-out .4s;
}

.Red-enlaces i{
    font-size: 25px;
}

.Red-enlaces{
    color: black;
    text-decoration: none;
}

.inicio-a{
    text-decoration: none;
    color: white;
}

.inicio-divs > i{
    font-size: 25px;
}

.inicio-divs:hover{
    color: white;
    background: #16161d;
    transition: all ease-in-out .4s;
}

.inicio-divs > .img-inicio:hover{
    filter: brightness(100);
}

.divs-decorativos{
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: center;
    justify-content: space-around;
    max-width: 100%;
}

.text-inicio{
    width: 40%;
    text-align:left;
    max-width: 100%;
}

.img-inicio{
    width: 33px;
    height: 33px;
}

.texto-copyright{
    font-size: 12px;
    width: 100%;
    max-width: 100%;
    height: 15px;
    color: rgb(157, 157, 157);
}

.registro-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 165px;
    background-color: #3f3f42;
    align-items: center;
    justify-content: center;
}

.registro-div{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;

}

.registro-all{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.red-social{
    display: flex;
    flex-direction: column;
    color: aliceblue;
    background-color: #3f3f42;
    border: 1px solid white;
    border-radius: 15px;
    width: 80px;
    height: 80px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

footer{
    padding: 10px;
    padding-bottom: 20px;
}